<h1>PROGRAM of your TOUR</h1>
<hr>

<div>
    {{#with program}}
    <main>
        <div>
            {{#with excursion}}
            <div><b>Name: </b>{{name}}</div>
            {{#with location}}
            <section>
                <div><b>City: </b>{{city}}</div>
                <div><b>Country: </b>{{country}}</div>
            </section>
            {{/with}}
            <div><b>Date: </b>{{date}}</div>
            <div><b>Program: </b></div>
            <hr>
            <ol>
                {{#each program}}
                <li>
                    <div>Name: <i>{{name}}</i></div>
                    <div>Type: <i>{{type}}</i></div>
                    <div>Duration ({{duration}})</div>
                    <div>Details:</div>
                    <section>
                        {{#with details}}
                        <section>

                            {{#with museum}}
                            <div><b>Museum:</b></div>
                            <div>Name: <i>{{name}}</i></div>
                            <div>Location:</div>
                            <section>
                                {{#with location}}
                                <div>Address: <i>{{address}}</i></div>
                                <div>City: <i>{{city}}</i></div>
                                <div>Country: <i>{{country}}</i></div>
                                {{/with}}
                            </section>
                            <div>Exhibits:</div>
                            <ol type="a">
                                {{#each exhibits}}
                                <li>
                                    <div>Name: <i>{{name}}</i></div>
                                    <div>Artist: <i>{{artist}}</i></div>
                                    <div>Description: <i>{{description}}</i></div>
                                    <div>Audiogiude ({{audio_guide}})</div>
                                    <br>
                                </li>
                                {{/each}}
                            </ol>
                            {{/with}}

                            {{#with venue}}
                            <div><b>Venue:</b></div>
                            <div>Name: <i>{{name}}</i></div>
                            <div>Location:</div>
                            <section>
                                {{#with location}}
                                <div>Address: <i>{{address}}</i></div>
                                <div>City: <i>{{city}}</i></div>
                                <div>Country: <i>{{country}}</i></div>
                                {{/with}}
                                {{/with }}
                            </section>
                            <div>Performers:</div>
                            <ol type="a">
                                {{#each performers}}
                                <li>
                                    <div>Name: <i>{{name}}</i></div>
                                    <div>Type: <i>{{type}}</i></div>
                                </li>
                                {{/each}}
                            </ol>

                            <div>Guide:</div>
                            <section>
                                {{#with guide}}
                                <div>Name: <i>{{name}}</i></div>
                                <div>Language: <i>{{language}}</i></div>
                                <div>Rating: <i>{{rating}}</i></div>
                                {{/with}}
                            </section>
                        </section>
                        {{/with}}

                    </section>
                    <hr>
                </li>
                {{/each}}
            </ol>
            {{/with}}
        </div>
    </main>
    {{/with}}
</div>