{{#with frm}}
<div class="col-6">
    {{#with surname}}
    <div class="form-label">{{label}}</div>
    <input class="form-control" placeholder={{placeholder}}>
    <div class="form-text">{{caption}}</div>
    {{/with}}
</div>
<div class="col-6">
    {{#with name}}
    <div class="form-label">{{label}}</div>
    <input class="form-control" placeholder={{placeholder}}>
    <div class="form-text">{{caption}}</div>
    {{/with}}
</div>
<div class="col-6">
    {{#with phone}}
    <div class="form-label">{{label}}</div>
    <input class="form-control" placeholder="{{placeholder}}">
    <div class="form-text">{{caption}}</div>
    {{/with}}
</div>
<div class="col-6">
    {{#with email}}
    <div class="form-label">{{label}}</div>
    <input class="form-control" placeholder={{placeholder}}>
    <div class="form-text">{{caption}}</div>
    {{/with}}
</div>
{{/with}}